{% load staticfiles %}
<footer class="container" id="wiki-footer">
<hr /> 
<a href="{% url 'inb_home' %}" class="pull-right"><img src="{% static "introapp/img/obn-favicon.ico" %}" style="width:60px; height:60px; margin-bottom: 10px;"/></a>
<!--<p>Powered by <a href="http://www.nalanda.kr">Institute of Nalanda Buddhism</a>, an open source application under the <a href="http://www.gnu.org/licenses/quick-guide-gplv3.html">GPLv3</a> license. Let knowledge be the cure.</p>-->
<p style="margin-bottom: 2px;"><a href="{% url 'wiki:root' %}">Open Buddhism 열린불교</a> </p>
<p><a href="{% url 'wiki:root' %}">OBN | OPEN BUDDHISM NETWORK</a></p>
<div style="margin-bottom: 10px;"></div>
</footer>